@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* =================SHARD STYLE START======================= */
body{
    background-color:#1A0B2E;
}
.display-flex{
    display: flex;
}

.container {
    width: 80%;
    max-width: 1280px;

    margin: 0px auto;
    justify-items: center;
}


.navbar, .banner{

    margin: 0 auto;
}

.text-white{
    color: #FFFFFF;
}

.red{
    color: red;
      
}

.brand{
    color:#FFFFFF
}

.brand{
    font-weight: 700;
    font-size: 2.81rem;
}

.text-gray{
    color: #FFFFFF;
}

.inline{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.teams{
    align-items:center;
}

.our-features{
    margin-left: 73px;
    max-width: 537px;
}

.text-light-gray{
    color: #727272;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list{
    font-weight:500;
}

.features-title{
    font-size: 2.81rem;
    font-weight: 700;
}

.text-primary{
    color: #FF900E; 
}

.fact-description{
    
    display: inline;
}



.fact-description{
    max-width: 540px;
}

.section-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* =================SHARED STYLE END======================= */


/*=================== NAVBAR SECTION START===============*/




.navbar{
    justify-content: space-between;
    align-items: center;
    
    display: flex;
}
.nav-anim{
    /* background-color:#1A0B2E; */
  animation-name: myAnimation;
  animation-duration: 10s;
  border-bottom: 1px solid grey;
}

@keyframes myAnimation {
  /* 0%   {background-color: red;}
  25%  {background-color: yellow;} */
  50%  {background-color: rgb(184, 184, 211);}
  100% {background-color: rgba(255, 60, 172, 0.6);}
}






.navbar img{
    width: 219px;
    height: 32px;
    margin: 30px;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    display: flex;

}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    }

.gradient-btn {
  padding: 14px 28px;
  font-size: 1.13rem;
  color: #FFFFFF;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background: linear-gradient(90deg, #ff3cac, #784ba0, #ffb347);
  box-shadow: 0 0 20px rgba(255, 60, 172, 0.6);
  transition: all 0.3s ease;
  margin: 24px;
}


#menu-toggle, .hamburger { display: none; }
/*=================== NAVBAR SECTION END===============*/


/* ==========BANNER SECTION START============ */
.banner-title{
    font-weight:800;
    font-size: 3.75rem; 
    color: #FFFFFF;    
}

.banner-content{
    max-width: 550px;
    margin: 0 auto;
    text-align: center; 
}

.box{
    position: relative;            
}

.hero-circle{    

    top: 30px;
    z-index: 1;

}
.ch-button {
    top: 69px;
    left: 165px;
    z-index: 5;
    background-color: #00FF88;
    font-size: 1.13rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 8px 16px;
}

.micro {
    left: -38px;
    top: 266px;
    z-index: 5;
}

.banner{
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    width: 100%;

}

.video-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #00FF88;
  border: 1.5px solid #ffffff;
  border-radius: 8px;
  font-family: 'Inter'; 
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 101px;
}

.video-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateY(-1px);
}

.video-button:active {
  transform: translateY(0);
}

.banner-image{
    width: 100%;
    margin-bottom: 44px; 
}
/* BANNER ANIMATION START */

.animation {
  margin: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}



.animation img{
  width: 300px;
  border-radius: 200px;
  animation: float 3s ease-in-out infinite, glow 2s ease-in-out infinite alternate;
}


@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes glow {
  from {
    box-shadow: 0 0 10px #38bdf8;
  }
  to {
    box-shadow: 0 0 30px #38bdf8;
  }
}



/* ==========BANNER SECTION END============= */


/* ==========ABOUT SECTION START============= */
.ab-title{
    font-weight:700;
    font-size: 3.75rem; 
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}





.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    width: 1200px;
    
}

.fact-card{
    margin-top:80px;
    width: 240px;
    height: 94px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #00FF88;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* ==========ABOUT SECTION END============= */


/* <!--==========WHY CHOOSE SECTION START ==================--> */
.bento-grid {

    justify-content: center;   
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(3, 273px);
    background-color:#230E3D;
}

.color{
    background-color:#230E3D;
    padding-top: 12px;
    padding-bottom: 120px;
}

.top{
    margin-top: 120px;
}
.card {
    padding: 30px;
    border-radius: 20px;
     background-color:rgba(53, 17, 101, 0.4)    
}

.ch-im{
    width: 60px;
    height: 60px;
}

.card h3 {
    margin-bottom: 12px;
    font-size: 1.25rem;
}

.card p {
    color: var(--text-muted);
    font-size: 0.95rem;
}

.container h2{
    font-weight: 800;
    font-size: 3rem;
    margin-top: 120px;
    margin-bottom: 40px;
}

.normal-layout{
    grid-column: span 1; 
    grid-row: span 2;   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wide-layout {
    grid-column: span 2; 
    grid-row: span 1; 
    flex-direction: column;  
     
}
/* <!--==========WHY CHOOSE SECTION END==================--> */


/* <!-- ==========FEATURED SECTION START============--> */
.width{
    max-width: 100%;
    margin: 0 auto; 
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.if-card{
    max-width: 380px;
    height: 440px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    border-radius: 15px;
    background-color: #250D44;
}
iframe{
    border-radius: 15px 15px 0 0;
    border: none;
}

.featured-content{
    padding: 0 24px;
}

/* HOST */
.host-name{
    margin-left: 24px;    
}
.host-name img{
    margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  border: 1px solid #5d4a8e; 
  justify-content: center;
  align-items: center;
}

.host{
    background-color: #1A0B2E;
}

.host h2{
    text-align: center;
}

.host-img{
    width: 200px;
    height: 200px;
}

.host-container{    
    width: 75%;
    max-width: 1200px;
    margin: 0px auto;
    }

.host-info{
    background-color: #250D44;
    max-width: 1200px;
    align-items: center;
    padding: 40px;
    border-radius: 40px; 
    margin-bottom: 120px;
}

.color-green{
    color: #00FF88;
}
/* <!-- ==========FEATURED SECTION END============--> */


/* ================FOOTER SECTION START=============== */
.back{
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    width: 1600px;
    height: 412px;
    background-position: center;

  
}

.our-sponsors{

width: 1360px;
height: 172px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;

margin-bottom: 120px;


}
.sponsor-companies{
    margin-top: 25px;

}

.sponsor-companies span{
    
    margin-right: 20px;
    
}
.sponsor-info{
    width: 410px;
    height: 60px;
    
}

.copyright{
  margin-left: 1px;
  text-align: center;
}


/* ================FOOTER SECTION END=============== */

/* MIXED SHARED STYLE */
.break-line{
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    color: #FFFFFF;
    line-height: 1px ;    
}

.back-color{
    background-color: #1A0B2E;
}  




/* responsive media query */
@media screen and (max-width: 576px) {

 
  .container {
    width: 92%;
  }

  h1, h2, h3 {
    text-align: center;
  }

 
  .navbar {
    position: relative;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #1A0B2E;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .nav-item {
    margin: 15px 0;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }

  .hamburger {
    display: block;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
  }

  .desktop-only {
    display: none;
  }

  .navbar img {
    margin: 0;
    width: 160px;
  }

 
  .banner-content {
    max-width: 100%;
    padding-top: 60px;
  }

  .banner-title {
    font-size: 2.4rem;
  }

  .banner-description {
    font-size: 0.95rem;
  }

  .hero-circle {
    width: 220px;
    top: 0;
  }

  .micro {
    width: 60px;
    top: 200px;
    left: -30px;
  }

  .ch-button {
    top: 40px;
    left: 120px;
    font-size: 0.9rem;
  }

  .video-button,
  .gradient-btn {
    margin: 10px 0;
    width: 100%;
    justify-content: center;
    
  }

 
  .ab-title {
    font-size: 2.2rem;
  }

  .about-text {
    font-size: 0.95rem;
  }

 
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
  }

  .fact-card {
    width: 100%;
    margin-bottom: 40px;
  }

 
  .bento-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .normal-layout,
  .wide-layout,
  .small-layout {
    grid-column: span 1;
    grid-row: auto;
  }

 
  .episode {
    flex-direction: column;
    align-items: center;
  }

  .if-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

 
  .host-info {
    flex-direction: column;
    text-align: center;
  }

  .host-img {
    margin-bottom: 20px;
  }

  .host-name {
    margin-left: 0;
  }

 
  .back {
    width: 100%;
    height: auto;
    padding: 40px 0;
  }

  .our-sponsors {
    width: 100%;
  }

  .sponsor-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .break-line {
    width: 90%;
  }
}


